<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.Title}}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script>
        $(window).on("load", function () {
            $("li").on("click", function () {
                $("li").removeClass("list-group-item-dark");
                $(this).addClass("list-group-item-dark");
                $("#submit").prop("disabled", false);

                let url = document.referrer;
                if (!url.includes("?")) {
                    url += "?"
                }
                url += "&";
                const path = decodeURIComponent(window.location.pathname);
                if (path.includes("->")) {
                    const edge = path.replace("/edit/", "").split("@")[0];
                    url += edge;
                } else {
                    url += {{.Title}};
                }
                url += "=" + $(this).prop("id");
                $("#form").prop("action", url);
            });
        });
    </script>
</head>

<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Wiktfavicon_en.svg/1024px-Wiktfavicon_en.svg.png"
             width="40" height="40" alt="">
        <span>{{.Title}} ({{.Lang}})</span>
    </a>
</nav>

<div class="container mt-2">
    <div class="row">
        <form id="form" method="post" style="width: 100%">
            <div class="form-group">
                <ul class="list-group">
                    {{range $i, $m := .Meanings}}
                        <li id="{{$i}}" class="list-group-item" style="cursor: pointer">
                            {{$i}}. {{$m.Value}}<br>
                            {{range $m.Examples}}
                                <small>&bull; {{.}}</small><br>
                            {{end}}
                            {{if $m.Hyperonyms}}
                                <small>Гиперонимы: {{$m.Hyperonyms}}</small>
                            {{end}}
                        </li>
                    {{end}}
                </ul>
            </div>
            <button id="submit" type="submit" class="btn btn-dark" disabled>Выбрать</button>
        </form>
    </div>
</div>
</body>
</html>