<!DOCTYPE html>
<html lang="en">
<head>
    <title>wikitologies</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-tagsinput@0.7.1/src/bootstrap-tagsinput.min.css">

    <style>
        html, body {
            height: 100%
        }

        .bootstrap-tagsinput {
            width: 100%;
        }

        .label {
            display: inline;
            padding: .3em;
            font-size: 75%;
            font-weight: 700;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25em;
        }

        .label-info {
            background-color: #5cb85c;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-tagsinput@0.7.1/src/bootstrap-tagsinput.min.js"></script>
    <script>
        $(window).on("load", function () {
            $("#titles").on("itemAdded itemRemoved", function () {
                setURL();
                $("#submit").prop("disabled", $("#titles").val().length === 0);
            });
            $("#lang").change(function () {
                setURL();
            });
            $("#strict").change(function () {
                setURL();
            });
        });

        function setURL() {
            let url = "/" + $("#titles").val().join("+") + "@" + $("#lang").val();
            if ($("#strict").prop("checked")) {
                url += "?" + "strict=true";
            }
            $("#form").prop("action", url);
        }
    </script>
</head>

<body>
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col">
            <div class="jumbotron">
                <h1 class="display-4">wikitologies</h1>
                <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#description">
                    Описание
                </button>
                <div class="collapse" id="description">
                    <div class="card card-body border-dark">
                        <p>Сервис предоставляет возможность построения таксономии естественного языка на основе
                            извлекаемых из <b><a href="https://ru.wiktionary.org/">Викисловаря</a></b> данных. Основные
                            используемые связи: <b>гиперонимы</b>, <b>гипонимы</b> и <b>переводы</b>. Входными данными
                            выступают стартовые слова таксономии и их язык. Если очередное стартовое слово многозначно,
                            выбирается первое значение, по итогу построения можно выбрать другое значение. Для
                            иностранных слов реализовано "предсказание" гиперонимов: иностранное слово -> перевод на
                            русский язык -> поиск гиперонимов -> обратный перевод гиперонимов. Доступно 2 режима
                            построения: <b>строгий</b> (при выборе значения гиперонима некоторого слова выбирается
                            то значение, для которого это слово является гипонимом) и <b>наивный</b> (используется по
                            умолчанию, всегда выбирается первое значение). Возникающие неточности при использовании
                            последнего предлагается устранять путем редактирования выделенных рёбер графа: <b><span
                                        style="color: #00ff00">зелёный</span></b> цвет указывает на "собственный"
                            гипероним, <b><span style="color: #0000ff">синий</span></b> - на "предсказанный".
                            Редактирование представляет собой выбор значения гиперонима, аналогично выбору значения
                            стартового слова. Построенная таксономия доступна для сохранения в нескольких форматах, на
                            текущий момент это <b>.png</b>, <b>.svg</b> и <b>.dot</b>, также можно просто отправить
                            кому-нибудь ссылку из адресной строки, получатель увидит тот же граф.
                        </p>
                    </div>
                </div>
                <hr class="my-4">
                <p>Если какие-либо элементы на странице не работают (например, поле ввода стартовых слов или кнопка
                    изменения значения), отключите ограничение на выполнение <b>javascript</b>.</p>
            </div>

            <form id="form" method="post">
                <div class="form-row">
                    <div class="col">
                        <select id="titles" multiple class="form-control" data-role="tagsinput"></select>
                    </div>
                </div>

                <div class="form-row mt-3 justify-content-center align-items-center">
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="lang">Язык</label>
                            </div>
                            <select id="lang" class="form-control custom-select">
                                {{range .}}
                                    <option>{{.}}</option>
                                {{end}}
                            </select>
                        </div>
                    </div>

                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="strict">
                            <label class="form-check-label" for="strict"><b>строгий</b> режим</label>
                        </div>
                    </div>

                    <div class="col-auto">
                        <button id="submit" type="submit" class="btn btn-dark" disabled>Построить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>